<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<div>
  <%== RedCloth.new(@post.content).to_html %>
</div>

<% if (user_signed_in? && current_user.id == @post.user_id) %>
<div style="float:right"><%= link_to 'Edit', edit_post_path(@post) %></div>
<% end %>
