body {
    font-family: sans-serif;
    color: black;
    background: #BBB;
}

header {
    line-height: 1.5em;
    text-align: center;
    background: black;
}

article {
    line-height: 1.5em;
    text-align: center;
    background: #BBB;
    padding-top: 2em;
}

aside {
    line-height: 1.5em;
    text-align: center;
    background: #BBB;
}

footer {
    line-height: 1.5em;
    text-align: center;
    background: #BBB;
}


.narv li{
    padding: 0.5em;
}
.narv a{
    color: #BBB;
}
.narv a:visited {
    color: #BBB;
}
.narv a:hover {
    color: green;
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    h2 {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        margin: -7px;
        margin-bottom: 0px;
        background-color: #c00;
        color: #fff;
    }
    ul li {
        font-size: 12px;
        list-style: square;
    }
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.center{
    text-align: center;
}